<%- include("../partials/header") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <%- include("../partials/sidebar") %>
    </div>
    <div class="col-6 my-4 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4">➕ Créer un utilisateur</h1>

          <form action="/admin/user" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Nom</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="mb-3">
              <label for="firstname" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="firstname" name="firstname" required>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe temporaire</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3">
              <label for="role" class="form-label">Rôle</label>
              <select class="form-control" id="role" name="role" required>
                <option value="user">Utilisateur</option>
                <option value="admin">Administrateur</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="age" class="form-label">Âge</label>
              <input type="number" class="form-control" id="age" name="age" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Créer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>