<%- include("../partials/header") %>

<div class="container my-4">
  <h1>➕ Ajouter un auteur</h1>

  <form action="/admin/author" method="POST">
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input type="text" class="form-control" name="name" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Bio</label>
      <textarea class="form-control" name="bio" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>

<%- include("../partials/footer") %>