<!DOCTYPE html>
<html>
<head>
  <title>Create User</title>
</head>
<body>
  <h1>Create a new user</h1>
  <form action="/admin/users/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required><br>

    <label for="firstname">Firstname:</label>
    <input type="text" name="firstname" required><br>

    <label for="age">Age:</label>
    <input type="number" name="age"><br>

    <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br>

    <label for="role">Role:</label>
    <select name="role">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select><br>

    <button type="submit">Create User</button>
  </form>
</body>
</html>


<!--  Ce formulaire est là pour gerer le côté admin et vraiment que les admins pour prouver la bonne pratique au niveau des mises en place côté back -->